body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    position: relative;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}